.card{
    padding: 20px;
    margin-bottom: 30px;
    transition: all 0.7s ease;
    border: 10px solid transparent;
    transform: scale(90%);
}

.card:hover {
    transform: scale(100%) translate3d(0,0px,20px);
    background-color: rgba(111,136,174, 0.3);
  }

.card .text {
    display: flex;
    opacity: 0;
    transition: all 0.7s ease;
    justify-content: center;
    transform: translate3d(0,-60px,0);
  }

.card:hover .text {
    margin-left: 7%;
    margin-right: 7%;   
    display: flex;
    opacity: 1;
    transition: all 0.7s ease;
    justify-content: center;
    transform: translate3d(0,0,0);
  }

.pfp-circle{
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
.taima{
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
} */


.holland{
    width: 180px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}